
.product-holder {
    text-align: left;
    padding: 0 10px; 
}

.ng-image-slider .ng-image-slider-container .main .main-inner .img-div img.ratio, .ng-image-slider .ng-image-slider-container .main .main-inner .img-div video.ratio {
    width: 100% !important;
}

.product-name {
    font-weight: bold;
}
.clearfix {
    clear: both;
}